%table.table.table-bordered
  %tr
    %td{width: 150}
      %b
        = @user_count
    %td Users
  %tr
    %td{width: 150}
      %b
        = @item_count
    %td Items
  %tr
    %td{width: 150}
      %b
        = @sub_count
    %td Subscriptions
  %tr
    %td{width: 150}
      %b
        = @feed_count
    %td Feeds
  %tr
    %td{width: 150}
      %b
        = @client_count
    %td Clients